# COMPONENTS OF PANDAS
->The primary two components of pandas are ther Series and DataFrame.
->Series is a one-dimensional array .

In [1]:
import pandas as pd
import numpy as np

In [2]:
l1 = [11,22,13,14,15]
s = pd.Series(l1)
print(s)
print(type(s))

0    11
1    22
2    13
3    14
4    15
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
myDick = {
    "name" : ['Prachi','Akansha','Nikita'],
     "roll" : [34,4,29],
     "Marks" :[90,90,90]
}

In [4]:
DataF = pd.DataFrame(myDick)

In [5]:
print(DataF)

      name  roll  Marks
0   Prachi    34     90
1  Akansha     4     90
2   Nikita    29     90

In [6]:
lisp = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14],[15,16,17,18]]

In [7]:
lispD = pd.DataFrame(lisp)

In [8]:
print(lispD)

    0   1   2   3     4
0   1   2   3   4   5.0
1   6   7   8   9  10.0
2  11  12  13  14   NaN
3  15  16  17  18   NaN

In [11]:
var1 = np.array([11,22,33,44,55,66,77])
print(type(var1))
index1 = [100,101,102,103,104,105,106]
s = pd.Series(var1,index1)
index1 = ['a','b','c','d','e','f','g']
print(s)

<class 'numpy.ndarray'>
100    11
101    22
102    33
103    44
104    55
105    66
106    77
dtype: int32

In [ ]:
dic1 = {'nm':'abc', 'rno': 11, 'sgpa' : 7.32}
s = pd.Series(dic1)
print(s)
print("sgpa of this semester is ", s['sgpa'])
print(s[2])

In [ ]:
data = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14],[15,16,17,18]]
df = pd.DataFrame(data,columns=['a','b','c','d','e'])
print(df)

In [12]:
dat = [{'rno':11,'nm':'abc','cou':'bca'},{'rno':1,'nm':'123','cou':'ca'},{'rno':8,'nm':'xyz','cou':'bt'}]
df = pd.DataFrame(dat)
print(df)
print(type(df))

   rno   nm  cou
0   11  abc  bca
1    1  123   ca
2    8  xyz   bt
<class 'pandas.core.frame.DataFrame'>